.header {
  padding: 1rem 0 3rem;

  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;

    .nav-item {
      font-size: 0.9rem;
      margin-right: 1.3rem;
      color: #666666;

      .nav-item .logo {
        display: flex;
        margin: auto;
        justify-content: flex-start;
      }
    }

    .active-nav-item {
      color: #000000;
      text-shadow: 1px 1px 3px grey;
    }

    .nav-item:hover {
      color: #333333;
    }
  }
}
