.header {
  padding: 1rem 0 3rem;

  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;

    .nav-item {
      font-size: 0.9rem;
      margin-right: 1.3rem;
      color: #666666;
    }
    .active-nav-item {
      color: #000000;
    }
    .nav-item:hover {
      color: #333333;
    }
  }
}
