
  .blog-list {
  list-style-type: none;
  text-align: justify;
  text-justify: inter-word;

  .title {
    margin-top: 2.5%;

    .link {
      color: #000000;
    }
    .link:hover {
      color: #333333;
    }
  }

  .posts {
    margin-bottom: 2%;
  }
}
