.blog-list {
  list-style-type: none;
  text-align: justify;
  text-justify: inter-word;
  margin: 0;

  .title {
    margin-top: 2.5%;

    .link {
      color: #000000;
    }
    .link:hover {
      color: #666666;
    }
  }

  .posts {
    margin: 1rem 0;
    .post {
      margin-bottom: 0.1rem;
    }
  }
}
